	table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
th:nth-child(even){
	width: 100px;
}

tr:nth-child(even) {
  background-color: white;
  font-variant-caps:
}
th{
	background-color:black;
	color: white;
}