
<h1 align="center">GreenZone Therapy</h1>
<h2 align="center">Consent to participate in Telemedicine</h2>
<br>
<div class="container">
	<div class="row">
			
			<div class="col-md-8">
				
			    <h4>Information Categories</h4>
			    	<br>
			    
			    	<b>Orientation</b>
			    	<p>Orient patient to the telemedicine location, equipment, and staff</p>

			  		<b>Confidentiality/Privacy</b>
			    	<p>
			    		Assure patient that no other parties are watching consultation.
			    	</p>

			    	<b>Video Taping</b>
			    	<p>
			    		Assure patient that the session is not being videotaped.
			    	</p>
			  		
			  			<b>Communication Issues</b>
			    	<p>
			    		Explain Sound delay.
			    	</p>
			    	
			    		<b>Contingency Management</b>
			    	<p>
			    		a) Care provider may determine the need for an in-person assessment.
			    	</p>
			    	<p>
			    		b) Patient has the right to refuse to participate and right to decline the service at any time.
			    	</p>
			      
			  		
			    	<b>Opportunity for questions and feedback</b>
			    	<p>
			    		Explain Sound delay.
			    	</p>
			    
			  		
			  		  	<b>Consent</b>
			    	<p>
			    		Patient or substitute decision maker verbally consents to participate in telemedicine consultation.
			    	</p>
			    	
					<b>Follow up instructions</b>
			
			</div>			  
			<div class="col-md-2">
				<h4>Initials</h4>
				<br>

			    <input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing2">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing3">
				

			</div>
			<div class="col-md-2">
			    <h4>Comments</h4>
			    <br>

			    <input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing2">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing">
				<input type="text" name="" class=" form-control input-spacing3">
					
			</div>
			  
			    
			
	</div>
			<br>
			<br>
			<div class="row">
				<div class="col-md-6" style="display: flex;">
					<p id="date">Date: </p><input type="date" name="" class="form-control col-sm-6">
			</div>
				<div class="col-md-6" style="display: flex;">
					<p id="date">Signature: </p><input type="text" name="" class="form-control col-sm-6">
				</div>
			</div>
			
			
<div>
