  .input-spacing{
    margin-top:2px;
    margin-bottom:30px;
  }
  .input-spacing2{
    margin-top:45px;
    margin-bottom:30px;
  }
  .input-spacing3{
    margin-top:-6px;
  }
  #date{
    margin-top:10px;
    margin-right: 5px;
  }
