
<h1 align="center">GreenZone Therapy</h1>
<h2 align="center">Consent to participate in Telemedicine</h2>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table>
			  <tr>
			    <th>Information Categories</th>
			    <th>Initials</th>
			    <th>Comments</th>
			  </tr>
			  <tr>
			    <td>
			    	<b>Orientation</b>
			    	<p>Orient patient to the telemedicine location, equipment, and staff</p>


			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			    <td>
			    	<b>Confidentiality/Privacy</b>
			    	<p>
			    		Assure patient that no other parties are watching consultation.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			    <td>
			    	<b>Video Taping</b>
			    	<p>
			    		Assure patient that the session is not being videotaped.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			    <td>
			    	<b>Communication Issues</b>
			    	<p>
			    		Explain Sound delay.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			    <td>
			    	<b>Contingency Management</b>
			    	<p>
			    		a) Care provider may determine the need for an in-person assessment.
			    	</p>
			    	<p>
			    		b) Patient has the right to refuse to participate and right to decline the service at any time.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			    <td>
			    	<b>Opportunity for questions and feedback</b>
			    	<p>
			    		Explain Sound delay.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			  	<td>
			    	<b>Consent</b>
			    	<p>
			    		Patient or substitute decision maker verbally consents to participate in telemedicine consultation.
			    	</p>
			    </td>
			    <td ><input type="text" name="" class=" form-control" ></td>
			    <td><input type="text" name="" class="form-control"></td>
			  </tr>
			  <tr>
			  	<td>
			  		<b>Follow up instructions</b>
			  	</td>
			  	<td ><input type="text" name="" class=" form-control" ></td>
			  	<td><input type="text" name="" class="form-control"></td>
			  </tr>
			</table>

			<br>
			<p>Signature: <input type="text" name="" class="form-control col-md-3"></p>
			<p>Date: <input type="date" name="" class="form-control col-md-3" value=""></p>
		</div>
	</div>
</div>