<head>


<style type="text/css">

</style>
</head>
<h1 align="center">GreenZone Therapy</h1>
<h2 align="center">Consent form</h2>

<div class="container">
	<div class="row">
		
		<p>
			One of our objectives at Greenzone Therapy (“we”, “us” or “our”) is to ensure that each of our
		patients understands and is informed about all aspects of our services, including how we collect,
		use and disclose personal information (“PI”) and personal health information (“PHI” and
		together with “PI”, “Personal Information”).
		In order to live up to this objective, and to be sure that we comply with applicable privacy laws
		in connection with the services we provide, we ask that you please complete and sign this
		Consent Form. By signing this form, you will, among other things, be providing us with your
		acknowledgement and consent to our collection, use and disclosure of your Personal
		Information, as set forth in this Consent Form (“Personal Information Practices”).
		You may revoke your consent to any or all of these Personal Information Practices at any time
		by providing us with written notice of the withdrawal of your consent. Please note, however, that
		the withdrawal of your consent to any Personal Information Practice may render us unable to
		continue providing you with our services.
		Should you have any questions about our Personal Information Practices, please feel free to
		write or email us at Attention: Privacy Officer, Greenzone Therapy, 2240 Midland Ave. Unit #
		103, Scarborough, Ontario, M1P 4R8, <a href="">info@greenzonetherapy.com</a>
		</p>	
		<br><br>
		<p>
			I, _______________*Pre-fill patient name*________________________ , hereby consent
			and/or agree to the following Personal Information Practices:
		</p>
		<br><br>

		
		
	</div>
	<div class="row">
		<div class="col-md-1 consent-heading" >
			<b>Yes</b>
		</div>
		<div class="col-md-1 consent-heading">
			<b>No</b>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q1" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q1" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				To the collection, use and disclosure of my Personal Information for
			purposes of providing health care services, clinic operations and payment
			activities. <input type="text" name="" required class="col-md-3">	
			</p>

			
		</div>	
	</div>


	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q2" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q2" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				To my doctor and Greenzone Therapy communicating with me by email at

				the following email address: <input type="email" name="" > With respect to email communications, I
				acknowledge and agree: (i) that the security of emails is not guaranteed and
				may be accidentally forwarded or shared; (ii) that I will only share
				information in email that I am comfortable sharing via email; (iii) to notify
				my doctor and Greenzone Therapy if there is any information that do not
				want shared by email; (iv) to not use email in the case of an emergency as
				email may be delayed in being sent or received.
	
			</p>
			
		</div>	
	</div>

	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q3" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q3" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				To the collection, use and disclosure of my Personal Information for
			purposes of providing health care services, clinic operations and payment
			activities. <input type="text" name="" required class="col-md-3">	
			</p>

			
		</div>	
	</div>

	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q4" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q4" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				To participate in free cannabis counselling and education services
				(“Counselling Services”) offered by Greenzone Therapy in the event that I
				am given a medical document (prescription) for medical cannabis. The
				Counselling Services include, without limitation: (i) cannabis education;
				(ii) demonstrations on using vapourizers; (iii) strain selection guidance; and
				(iv) assistance registering with the Licensed Producer of my choice. By
				giving this consent, I also consent to Greenzone Therapy, and my doctor,

				sharing Personal Information with Greenzone Therapy solely to the extent
				necessary to provide me with the counselling.	
			</p>

			
		</div>	
	</div>

	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q5" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q5" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				To the collection, use and disclosure of my Personal Information for
			purposes of providing health care services, clinic operations and payment
			activities. <input type="text" name="" required class="col-md-3">	
			</p>

			
		</div>	
	</div>

	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q6" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q6" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
			I acknowledge and agree that participation in the Counselling Services is entirely voluntary. In the event that I agree to participate in the Counselling, I understand that my medical document will be provided directly to my counsellor in connection with the Counsellor. In the event that I opt not to participate in the Counselling, the medical document will be provided directly to me and I will be solely responsible for registering with and ordering from a Licensed Producer.	
			</p>

			
		</div>	
	</div>

	<div class="row">
		<div class="col-md-1">
			<input type="radio" name="q7" class="radio-setting">
		</div>
		<div class="col-md-1">
			<input type="radio" name="q7" class="radio-setting">
		</div>
		<div class="col-md-10" >
			<p>
				I understand and acknowledge that the cost of providing the Counselling Services is paid for by certain Licensed Producers who have entered into an agreement with Greenzone Therapy (“Education Agreements”). Among other things, these Education Agreements enable Greenzone Therapy to provide me with up-to-date information on strains and availability of such Licensed Producers. Not all Licensed Producers in Canada have entered into such an agreement. Notwithstanding, I understand that I am free to request registration with any Licensed Producer authorized by Health Canada and my counsellor will assist with me with registering with any Licensed Producer of my choosing.	
			</p>

			
		</div>	
	</div>

		<br>
		<br>

		Date: <input type="date" name="" class="form-control col-md-3">
		<br>
		Signature: <textarea class="form-control col-md-4" name=""></textarea>
		<br>
</div>



